In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/terrorism-in-world/terrorist-attacks new.csv

In [2]:
df = pd.read_csv("/kaggle/input/terrorism-in-world/terrorist-attacks new.csv")
df.head()

        Entity Code  Year  Terrorist attacks
0  Afghanistan  AFG  1970                  0
1  Afghanistan  AFG  1971                  0
2  Afghanistan  AFG  1972                  0
3  Afghanistan  AFG  1973                  1
4  Afghanistan  AFG  1974                  0

In [3]:
df.shape

(10517, 4)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10517 entries, 0 to 10516
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Entity             10517 non-null  object
 1   Code               9263 non-null   object
 2   Year               10517 non-null  int64
 3   Terrorist attacks  10517 non-null  int64
dtypes: int64(2), object(2)
memory usage: 328.8+ KB

In [5]:
df[df.Code.isnull()].Entity.value_counts()

Entity
Africa                            51
Oceania                           51
Western Europe                    51
West Bank and Gaza Strip          51
Sub-Saharan Africa                51
Southeast Asia                    51
South Yemen                       51
South Asia                        51
South America                     51
Rhodesia                          51
Republic of the Congo             51
People's Republic of the Congo    51
North America                     51
Asia                              51
New Hebrides                      51
Middle East & North Africa        51
International                     51
Europe                            51
Eastern Europe                    51
East Asia                         51
Central Asia                      51
Central America & Caribbean       51
Australasia & Oceania             51
Zaire                             51
Macedonia                         30
Name: count, dtype: int64

In [6]:
len(pd.unique(df.Code))

197

In [7]:
df[df['Terrorist attacks']==1]['Entity'].value_counts().nlargest(n=5)

Entity
Netherlands            17
Zimbabwe               14
Trinidad and Tobago    13
Eswatini               13
Austria                12
Name: count, dtype: int64